<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<span style=font-size:10.0pt;font-family:Arial,sans-serif>
            {{phonenumber}} установить блокировку, отключить все платные услуги
<br><br>
    С уважением,
    <br><br>
    Харламов Алексей Олегович<br>
    +7 495 785-7516 доб.1201 – телефон<br>
    +7 495 785-7515 – факс<br>
    +7 968 459-7356 – мобильный<br>
    <a href="mailto:AKharlamov@teploset.ru" target="_blank">AKharlamov@teploset.ru</a> - e-mail
    </span>
</body>
</html>
