<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<style type="text/css">
body p {
	font-family:  Arial;
}
.qq {
	font-family:  Arial;
}
</style>
</head>

<body>
<p align="right">Приложение №2</p>
<p align="center"><strong>Дополнительное соглашение к трудовому договору</strong></p>
<p align="justify">{{truddogcompanyname}}, в лице {{directorspos}} <u>{{director}}</u>, действующего на основании Устава, именуемого в дальнейшем «Общество», с одной стороны и <u>{{fio}}</u>, именуемый в дальнейшем «Сотрудник», с другой стороны, заключили настоящее Дополнительное соглашение к трудовому договору № {{truddognumber}}
от {{truddogdate}} о нижеследующем:</p>
<p align="justify">
    1. Общество для своевременного и качественного выполнения Сотрудником возложенных на него трудовых функций, обеспечивает Сотрудника мобильной связью и предоставляет ему во временное пользование сим-карту оператора сотовой связи.
<BR>2. Общество производит оплату услуг сотовой связи по выданной Сотруднику сим-карте в размере абонентской платы за выбранный тарифный план ежемесячно.
<BR>3. При превышении Сотрудником расхода сверх абонентской платы, Общество в одностороннем порядке самостоятельно удерживает из заработной платы сотрудника денежные средства в размере превышения. Сумма к удержанию рассчитывается на основании данных, предоставленных сотовым оператором. В случае несогласия сотрудника с вычтенной из заработной платы суммы, он вправе обратиться в Дирекцию по ИТ с целью получения соответствующих данных.
<BR>4. Сотрудник обязан вести переговоры по предоставленной сим-карте исключительно в служебных целях.
<BR>5. Сотрудник обязан при увольнении сдать предоставленную ему сим-карту.</p>

<p align="justify"> В случае использования предоставленной мобильной связи в личных целях, работник должен возместить затраченную сумму, либо она будет удержана из его заработной платы.</p>

<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="472"><span class="qq">Сим-карту с телефонным номером <u>{{phonenumber}}</u> получил</span></td>
      <td width="128"><span class="qq">________________</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div align="center"><span class="qq">подпись</span></div></td>
    </tr>
    <tr>
      <td><span class="qq">Тарифный план <u>{{tariff}}</u></span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><span class="qq">С условиями тарифного плана ознакомлен</span></td>
      <td><span class="qq">________________</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div align="center"><span class="qq">подпись</span></div></td>
    </tr>
  </tbody>
</table>
<br><br><br><br>

<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td width="472"><span class="qq">{{directorsposstd}} {{directorstd}}</span></td>
        <td width="128"><span class="qq">________________</span></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><div align="center"><span class="qq">подпись</span></div></td>
    </tr><tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr><tr>
        <td>&nbsp;</td>
        <td><div align="right"><span class="qq">М.П.</span></div></td>
    </tr>
    </tbody>
</table>
</body>
</html>
